.top5container li .card {
    width: 12rem;
    padding: 5px;
    margin: 10px;
}


.card-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-img {
    height: 180px;
    /* position: relative; */
}

.bids-number {
    display: inline-block;
    position: relative;
}

.bids-number-inner {
    position: absolute;
    background-color: blue;

    color: white;
    border-radius: 5px;
    padding: 5px
}

.curr-bid {
    margin: 0px !important;
}

.highest-bidder {
    display: flex !important;
    justify-content: center !important;
    color: blue;
    font-size: small;
}

.bid-price {
    color: red;

}

.btn-buynow {
    background-color: #e40047;
}

.btn-viewdetail {
    margin-top: 5px;
}