.card {
    width: 12rem;
    height: auto;
    padding: 5px;
    margin: 10px;
    text-align: center;
}

.card:hover {
    box-shadow: 0px 15px 15px rgba(68, 103, 216, 0.3);
}

.card-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-img {
    height: 180px;
    /* position: relative; */
}

.bids-number {
    display: inline-block;
    position: relative;
}

.bids-number-inner {
    position: absolute;
    background-color: blue;

    color: white;
    border-radius: 5px;
    padding: 5px
}

.curr-bid {
    margin: 0px !important;
}

.highest-bidder {
    /* display: flex !important;
    justify-content: center !important; */
    color: blue;
    font-size: small;
}

.bid-price {
    color: red;

}

.buy_now {
    display: inline-block;

}

.btn-viewdetail {
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin-top: 5px;
}