<div class="container">
    <div class="row">
        <div class="col-md-3 ">
            <div class="list-group ">
                <a href="/account/profile" class="list-group-item list-group-item-action ">Thông tin cá nhân</a>
                <a href="/account/changePassword" class="list-group-item list-group-item-action">Đổi mật khẩu</a>
                <a href="/account/reviews" class="list-group-item list-group-item-action">Điểm &amp; Đánh giá</a>
                <a href="/account/upgrade" class="list-group-item list-group-item-action">Nâng cấp tài khoản</a>
                <a href="/account/myProducts" class="list-group-item list-group-item-action active">Đăng sản phẩm</a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Cập Nhật Thông Tin</h4>
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <form action="/account/addProduct/info" method="POST">
                                <div class="form-group row">
                                    <label for="danh_muc" class="col-4 col-form-label">Danh mục</label>
                                    <div class="col-8">
                                        <select name="id_dm" id="danh_muc" class="form-control"
                                            style="min-width: 200px; margin: 0px;width: 200px;">
                                            {{#each lcCategories}}
                                            <option style="width: 200px;" value="{{id_dm}}">{{ten_dm}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="ten_sp" class="col-4 col-form-label">Tên sản phẩm</label>
                                    <div class="col-8">
                                        <input id="ten_sp" name="ten_sp" class="form-control here" type="text"
                                            required="required">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="gia_khoi_diem" class="col-4 col-form-label">Giá khởi điểm</label>
                                    <div class="col-8">
                                        <input id="gia_khoi_diem" name="gia_khoi_diem" required="required"
                                            class="form-control here" type="text">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="gia_mua_ngay" class="col-4 col-form-label">Giá mua ngay</label>
                                    <div class="col-8">
                                        <input id="gia_mua_ngay" name="gia_mua_ngay" class="form-control here"
                                            type="text">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="buoc_gia" class="col-4 col-form-label">Bước giá</label>
                                    <div class="col-8">
                                        <input id="buoc_gia" name="buoc_gia" class="form-control here" type="text"
                                            required="required">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="mo_ta" class="col-4 col-form-label">Mô tả</label>
                                    <div class="col-8">
                                        <textarea id="mo_ta" name="mo_ta" class="form-control here" rows="3"
                                            type="text"></textarea>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="offset-4 col-8">
                                        <button type="submit" class="btn btn-success">Tiếp Tục</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>