<div class="container">
    <div class="row">
        <div class="col-md-3 ">
            <div class="list-group ">
                <a href="/account/profile" class="list-group-item list-group-item-action ">Thông tin cá nhân</a>
                <a href="/account/changePassword" class="list-group-item list-group-item-action active">Đổi mật khẩu</a>
                <a href="/account/reviews" class="list-group-item list-group-item-action">Điểm &amp; Đánh giá</a>
                <a href="/account/upgrade" class="list-group-item list-group-item-action">Nâng cấp tài khoản</a>
                <a href="#" class="list-group-item list-group-item-action">Dealer</a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Đổi Mật Khẩu</h4>
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            {{#if message}}
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                {{message}}
                            </div>
                            {{/if}}
                            <form action="/account/changePassword" method="POST">
                                <div class="form-group row">
                                    <label for="old_password" class="col-4 col-form-label">Nhập mật khẩu cũ</label>
                                    <div class="col-8">
                                        <input id="oldPassword" name="old_password" autofocus class="form-control here"
                                            required="required" type="password">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="raw_password" class="col-4 col-form-label">Nhập mật khẩu mới</label>
                                    <div class="col-8">
                                        <input id="newPassword" name="raw_password" required="required"
                                            class="form-control here" type="password">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="repeat_raw_password" class="col-4 col-form-label">Nhập lại mật khẩu
                                        mới</label>
                                    <div class="col-8">
                                        <input id="repeatNewPassword" name="repeat_raw_password" required="required"
                                            class="form-control here" type="password">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="offset-4 col-8">
                                        <button type="submit" class="btn btn-primary">Đổi Mật Khẩu</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>