<div class="container">
    <div class="card bg-light">
        <article class="card-body mx-auto" style="max-width: 600px; min-width: 400px">
            <h4 class="card-title mt-3 text-center">Tạo Tài Khoản</h4>
            <!-- <p class="text-center">Get started with your free account</p> -->
            <p>
                <a href="" class="btn btn-block btn-twitter"> <i class="fab fa-twitter"></i> &nbsp; Đăng nhập qua
                    Twitter</a>
                <a href="" class="btn btn-block btn-facebook"> <i class="fab fa-facebook-f"></i> &nbsp; Đăng nhập
                    qua Facebook</a>
            </p>
            <p class="divider-text">
                <span class="bg-light">Hoặc</span>
            </p>
            {{#if err_message}}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{err_message}}
            </div>
            {{/if}}
            <form id="frmRegister" name="frmRegister" method="POST">
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                    </div>
                    <input name="ho_ten" class="form-control" placeholder="Họ tên" type="text" autofocus>
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                    </div>
                    <input name="email" class="form-control" placeholder="Email" type="email">
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-phone"></i> </span>
                    </div>
                    <input name="sdt" class="form-control" placeholder="Số điện thoại" type="text">
                </div><!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-map"></i> </span>
                    </div>

                    <input name="dia_chi" class="form-control" placeholder="Địa chỉ" type="text">
                </div>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input id="txtPassword" name="raw_password" class="form-control" placeholder="Mật khẩu"
                        type="password">
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input id="txtRepeatPassword" class="form-control" placeholder="Nhập lại mật khẩu" type="password">
                </div> <!-- form-group// -->
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Tạo Tài Khoản </button>
                </div> <!-- form-group// -->
                <p class="text-center">Đã có tài khoản? <a href="/account/login">Đăng Nhập</a> </p>
            </form>
        </article>
    </div> <!-- card.// -->

</div>