<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->
    <title>Online Auction</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/account-styles.css">
    <link rel="stylesheet" href="/plugins/fontawesome-free-5.0.1/css/fontawesome-all.css">
    {{{_sections.css}}}
</head>

<body>

    <br></br>
    {{{body}}}

    <!--container end.//-->
    <script type="text/javascript">
        <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    </script>
    {{{_sections.js}}}

</body>

</html>