<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/plugins/fontawesome-free-5.0.1/css/fontawesome-all.css">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="text-align: right;">

        <form class="form-inline my-2 my-lg-0" action="/account/logout" method="POST">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Đăng Xuất</button>
            <div class="mr-sm-2">{{authUser.ho_ten}}</div>
        </form>

    </nav>
    {{{body}}}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>